<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <base target="_blank" />

  <title class="pageTitle">{{ site.page_title }}</title>
  <meta name="description" content="{{ site.app_description }}" />

  <link rel="shortcut icon" href="{{ site.app_icon | relative_url }}" />

  <!-- Smart App Banner -->
  {% if site.enable_smart_app_banner %}
  <meta name="apple-itunes-app" content="app-id={{ site.ios_app_id }}" />
  {% endif %}

  <link rel="stylesheet" href="{{ '/main.css' | relative_url }}" />
	
  <!-- FontAwesome -->
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"> -->
  <script src="https://kit.fontawesome.com/b0d100b624.js" crossorigin="anonymous"></script>

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet"
  />
</head>
